<!-- форма со свойствами объекта -->
<br>

<%= form_for @astro_object, html: {class: "form-horizontal"} do |f| %>

	<div class='form-group'>
		<%= f.label :name, "Наименование:", class: "control-label col-sm-2" %>
		<div class="col-sm-10">
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>

	<div class='form-group'>
		<%= f.label :date, "Дата:", class: "control-label col-sm-2" %>
		<div class="col-sm-2">
			<%= f.text_field :date, value: (@astro_object.date.strftime('%d/%m/%Y') if @astro_object.date), class: "form-control" %>
		</div>

		<%= f.label :time, "Время:", class: "control-label col-sm-1" %>
		<div class="col-sm-2">
			<%= f.text_field :time, value: (@astro_object.time.strftime('%T') if @astro_object.time), class: "form-control" %>
		</div>

		<%= label_tag :library, "Входит в библиотеки:", class: "control-label col-sm-2" %>
		<div class="col-sm-3">
			<%= select_tag :library, options_from_collection_for_select(@taglist, "name", "name", @astro_object.tag_list), {class: "selectpicker form-control", multiple: true} %>
		</div>
	</div>

	<div class='form-group'>
		<%= f.label :comment, "Комментарий:", class: "control-label col-sm-2" %>
		<div class="col-sm-10">
			<%= f.text_area :comment, class: "form-control", rows: "5" %>
		</div>
	</div>

	<div class='form-group'>
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit "Сохранить", class: "btn btn-primary" %>
			<%= f.submit "Отменить", class: "btn btn-default" %>
		</div>
	</div>

<% end %>

<!-- пикеры для даты и времени -->
<script type="text/javascript">
    $(function () {
        $('#astro_object_date').datetimepicker({
            locale: 'ru',
            format: 'DD/MM/YYYY'
        });

        $('#astro_object_time').datetimepicker({
            locale: 'ru',
            format: 'LT'
        });
        $('.selectpicker').selectpicker({
  			size: 5
		});
    });
</script>