<h2>Редактируем: <%= @astro_object.name %></h2>
<br>

<%= form_for @astro_object, html: {class: "form-horizontal"} do |f| %>

	<div class='form-group'>
		<%= f.label :name, "Наименование:", class: "control-label col-sm-2" %>
		<div class="col-sm-5">
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>

	<div class='form-group'>
		<%= f.label :date, "Дата:", class: "control-label col-sm-2" %>
		<div class="col-sm-2">
			<%= f.date_field :date, class: "form-control" %>
		</div>

		<%= f.label :time, "Время:", class: "control-label col-sm-1" %>
		<div class="col-sm-2">
			<%= f.time_field :time, class: "form-control" %>
		</div>
	</div>

	<div class='form-group'>
		<%= f.label :comment, "Комментарий:", class: "control-label col-sm-2" %>
		<div class="col-sm-5">
			<%= f.text_area :comment, class: "form-control", rows: "5" %>
		</div>
	</div>

	<div class='form-group'>
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit "Сохранить", class: "btn btn-primary" %>
			<%= f.submit "Вернуться", class: "btn btn-default" %>
		</div>
	</div>

<% end %>

<script type="text/javascript">
    $(function () {
        $('#astro_object_date').datetimepicker({
            locale: 'ru',
            format: 'DD/MM/YYYY'
        });

        $('#astro_object_time').datetimepicker({
            locale: 'ru',
            format: 'LT'
        });
    });
</script>