<h1>Список объектов</h1>

<!-- форма поиска -->
<div class='row'>
	<div class='col-xs-6'>
		<%= form_tag(astro_objects_path, :method => "get", id: "search-form") do %>
			<div class='input-group'>
				<%= text_field_tag :search, params[:search], placeholder: "Наименование", class: "form-control" %>
				<span class='input-group-btn'>
					<%= submit_tag "Найти", class: "btn btn-default" %>
				</span>
			</div>
		<% end %>
	</div>
</div>
<br>

<%= link_to "Создать новый объект", new_astro_object_path, class: "btn btn-default" %>
<hr>

<!-- сообщение выводится, если поиск оказался неудачен -->
<%= 'Ничего не найдено' if @astro_objects.size==0 %>

<!-- список объектов -->
<% @astro_objects.each do |item| %>
	<h3><%= link_to item.name, astro_object_path(item) %></h3>
	<p>
		Дата: <%= item.date %><br>
		Время: <%= item.time.strftime('%T') %><br>
		Комментарий: <%= item.comment %>
	</p>
	<small><%= link_to ">>> Редактировать", edit_astro_object_path(item) %> | <%= link_to "Удалить <<<", astro_object_path(item), method: :delete, data: {confirm: "Вы уверены?"} %></small>
	<hr>
<% end %>