<!-- выводится объект -->
<hr>
<h3><%= @astro_object.name %></h3>
<p>
	Дата: <%= @astro_object.date %><br>
	Время: <%= @astro_object.time.strftime('%T') if @astro_object.time %><br>
	Комментарий: <%= @astro_object.comment %>
</p>
<small><%= link_to ">>> Редактировать", edit_astro_object_path(@astro_object) %> | <%= link_to "Удалить <<<", astro_object_path(@astro_object), method: :delete, data: {confirm: "Вы уверены?"} %></small>
<hr>

<!-- выводятся цепочки диспозиций, построенные для объекта -->
<h3>Построенные цепочки</h3>
<%= link_to ">>> Создать новую цепочку <<<", new_astro_object_chain_path(@astro_object) %>
<hr>
<% @chains.each do |item| %>
	<%= item.kind %>
	<% if item.septener %>
		по септенеру
	<% end %>
	<br>
	<%= image_tag("graphs/#{item.id}.png") %>
	<br>
	<%= link_to ">>> Редактировать", edit_astro_object_chain_path(@astro_object, item) %> | <%= link_to "Удалить <<<", [@astro_object, item], method: :delete, data: {confirm: "Вы уверены?"} %>
	<hr>
<% end %>