<!-- выводится объект -->
<h3><%= @astro_object.name %></h3>
<div class='row'>
	<div class='col-xs-12 col-sm-10'>
		<div class='row'>
			<div class='col-xs-12 col-sm-2'>
				Дата: 
			</div>
			<div class='col-xs-12 col-sm-10'>
				<%= @astro_object.date %><br>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-12 col-sm-2'>
				Время:
			</div>
			<div class='col-xs-12 col-sm-10'>
				<%= @astro_object.time.strftime('%T') if @astro_object.time %><br>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-12 col-md-2'>
				Комментарий:
			</div>
			<div class='col-sm-12 col-md-10'>
				<%= @astro_object.comment %>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-12 col-md-2'>
				Библиотеки:
			</div>
			<div class='col-sm-12 col-md-10'>
				<% @taglist.each do |tag| %>
						<span class="label label-default"><%= tag %></span>
				<% end %>
			</div>
		</div>
	</div>
	<div class='col-xs-12 col-sm-2'>
		<p><%= link_to "Редактировать", edit_astro_object_path(@astro_object), class: "btn btn-default btn-block" %></p>
		<p><%= link_to "Удалить", astro_object_path(@astro_object), method: :delete, data: {confirm: "Вы уверены?"}, class: "btn btn-danger btn-block" %></p>
	</div>
</div>
<hr>

<!-- выводятся цепочки диспозиций, построенные для объекта -->
<h3>Построенные цепочки:</h3>
<%= link_to "Создать новую цепочку", new_astro_object_chain_path(@astro_object), class: "btn btn-primary" %>
<hr>
<% @chains.each do |item| %>
<div class='row'>
	<div class='col-xs-10 vcenter'>
		<h4>
			<%= item.kind %>
			<% if item.septener %>
				по септенеру
			<% end %>
		</h4>
		<br>
		<!-- файл визуализации графа выводится только если он существует. иначе предлагается пересохранить цепочку -->
		<% if File.exist?("app/assets/images/graphs/#{item.id}.png") %>
			<a class="fancybox" href="<%= image_path "graphs/#{item.id}.png" %>" title ="<%= item.kind %>" rel="group"><%= image_tag("graphs/#{item.id}.png", class: "img-responsive") %></a>
		<% else %>
			Изображение цепочки не найдено. Пересохраните цепочку.
		<% end %>
		<br>
		<div class='row'>
			<div class='col-xs-2'>
				Комментарий:
			</div>
			<div class='col-xs-10'>
				<%= item.comment %>
			</div>
		</div>
	<!-- это, блин, магия! если не слить в одной строке конец и начало div, ячейка не отцентрируется! -->
	</div><div class='col-xs-2 vcenter'>
		<%= link_to "Редактировать", edit_astro_object_chain_path(@astro_object, item), class: "btn btn-default btn-block" %>
		<%= link_to "Удалить", [@astro_object, item], method: :delete, data: {confirm: "Вы уверены?"}, class: "btn btn-danger btn-block" %>
	</div>
</div>
<hr>
<% end %>