<!-- выводится отдельный объект -->
<h3><%= @astro_object.name %></h3>
<div class='row'>
	<div class='col-xs-12 col-sm-10'>
		<div class='row'>
			<div class='col-xs-12 col-sm-2'>
				Дата: 
			</div>
			<div class='col-xs-12 col-sm-10'>
				<%= @astro_object.date %><br>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-12 col-sm-2'>
				Время:
			</div>
			<div class='col-xs-12 col-sm-10'>
				<%= @astro_object.time.strftime('%T') if @astro_object.time %><br>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-12 col-sm-2'>
				Место рождения:
			</div>
			<div class='col-xs-12 col-sm-10'>
				<%= @astro_object.birthplace %><br>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-12 col-sm-2'>
				Балльность:
			</div>
			<div class='col-xs-12 col-sm-10'>
				<%= @astro_object.points %><br>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-12 col-md-2'>
				Комментарий:
			</div>
			<div class='col-sm-12 col-md-10'>
				<%= simple_format(@astro_object.comment) %>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-12 col-md-2'>
				Библиотеки:
			</div>
			<div class='col-sm-12 col-md-10'>
				<% @taglist.each do |tag| %>
						<span class="label label-default"><%= tag %></span>
				<% end %>
			</div>
		</div>
	</div>
	<div class='col-xs-12 col-sm-2'>
		<div class="visible-xs-block">
			<br>
		</div>
		<p><%= link_to "Редактировать", edit_astro_object_path(@astro_object), class: "btn btn-default btn-block no-overflow" %></p>
		<p><%= link_to "Удалить", astro_object_path(@astro_object), method: :delete, data: {confirm: "Вы уверены?"}, class: "btn btn-danger btn-block no-overflow" %></p>
	</div>
</div>
<hr>
<% if @duplicates&.size > 1 %>
	<h3>Имеются дубликаты:</h3>
		<% @duplicates.each do |item| %>
			<ul>
				<% if item.id != @astro_object.id %>
					<li><%= link_to item.name, astro_object_path(item) %></li>
				<% end %>
			</ul>
		<% end %>
	<hr>
<% end %>
<!-- выводятся цепочки диспозиций, построенные для объекта -->
<h3>Построенные цепочки:</h3>
<%= link_to "Создать новую цепочку", new_astro_object_chain_path(@astro_object), class: "btn btn-primary" %>
<hr>
<% @chains.each do |item| %>
<div class='row'>
	<div class='col-sm-10 vcenter'>
		<h4>
			<%= item.kind %>
			<% if item.septener %>
				по септенеру
			<% end %>
		</h4>
		<br>
		<!-- файл визуализации графа выводится только если он существует. иначе предлагается пересохранить цепочку -->
		<% if File.exist?("public/images/chaingraphs/#{item.id}.png") %>
			<a class="fancybox" href='<%= image_path("chaingraphs/#{item.id}.png?#{Time.now.to_i}") %>' title ="<%= item.kind %>" rel="group"><%= image_tag("chaingraphs/#{item.id}.png?#{Time.now.to_i}", class: "img-responsive") %></a>
		<% else %>
			Изображение цепочки не найдено. Пересохраните цепочку.
			<br>
		<% end %>
		<br>
		<div class='row'>
			<div class='col-sm-2'>
				Комментарий:
			</div>
			<div class='col-sm-10'>
				<%= simple_format(item.comment) %>
			</div>
		</div>
	<!-- это, блин, магия! если не слить в одной строке конец и начало div, ячейка не отцентрируется! -->
	</div><div class='col-sm-2 col-xs-12 vcenter'>
		<div class="visible-xs-block">
			<br>
		</div>
		<%= link_to "Редактировать", edit_astro_object_chain_path(@astro_object, item), class: "btn btn-default btn-block no-overflow" %>
		<%= link_to "Копировать", new_astro_object_chain_path(@astro_object, :source=>item.id), class: "btn btn-default btn-block no-overflow" %>
		<%= link_to "Удалить", [@astro_object, item], method: :delete, data: {confirm: "Вы уверены?"}, class: "btn btn-danger btn-block no-overflow" %>
	</div>
</div>
<hr>
<% end %>