<h1>Управление библиотеками</h1>

<h3>Доступные библиотеки:</h3>
<ul class="list-group">
<% @tags.each do |tag| %>
	<li class="list-group-item">
		<div class="btn-group">
			<%= link_to edit_acts_as_taggable_on_tag_path(tag), 
				class: "btn btn-primary" do %>
				<span class="glyphicon glyphicon-edit"></span>
			<% end %>
			<%= link_to tag, method: :delete, 
				class: "btn btn-danger #{'disabled' if tag.taggings_count > 0}",
				data: {confirm: "Вы уверены, что хотите уделить библиотеку #{tag.name}?"} do %>
				<span class="glyphicon glyphicon-remove"></span>
			<% end %>
		</div>
		<span class="badge"><%= tag.taggings_count %></span>
		<%= tag.name %>
	</li>
<% end %>
</ul>
<div class="row">
	<div class="col-xs-10">
		<%= render 'form' %>
	</div>
	<div class="col-xs-2">
	</div>
</div>