<h1>Управление библиотеками</h1>

<!-- обработка сообщений об ошибках -->
<% if flash[:alert] %>
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <%= flash[:alert] %>
    </div>
  </div> <!-- col -->
</div> <!-- row -->
<% flash[:alert]=nil %>
<% end %>

<h3>Доступные библиотеки:</h3>
<ul class="list-group">
<% @tags.each do |item| %>
	<li class="list-group-item">
		<span class="badge"><%= item.taggings_count %></span>
		<%= item.name %>
	</li>
<% end %>
</ul>
<div class="row">
	<div class="col-xs-10">
		<%= form_tag '/libraries' do %>
			<div class='input-group'>
				<%= text_field_tag :addlib, params[:addlib], placeholder: "Наименование библиотеки", class: "form-control" %>
				<span class='input-group-btn'>
					<%= submit_tag "Добавить", class: "btn btn-primary" %>
				</span>
			</div>
		<% end %>
	</div>
	<div class="col-xs-2">
		<%= form_tag '/libraries', method: "delete" do %>
			<%= submit_tag "Удалить пустые", class: "btn btn-danger col-xs-12" %>
		<% end %>
	</div>
</div>