<h3>Создание цепочки диспозиций для объекта <strong><%= @astro_object.name %></strong></h3>
<%= form_for [@astro_object, @astro_object.chains.build] do |f| %>

	<p>
		<%= f.label :kind %><br>
		<%= f.select :kind, ['Цепочка по управлению', 
							 'Цепочка по управлению по септенеру',
							 'Цепочка по экзальтации',
							 'Цепочка по экзальтации по септенеру',
							 'Цепочка по падению',
							 'Цепочка по падению по септенеру',
							 'Цепочка по изгнанию',
							 'Цепочка по изгнанию по септенеру']%>
	</p>

	<p>
		<%= f.label :code %><br>
		<%= f.text_area :code %>
	</p>

	<p>
		<%= f.label :comment %><br>
		<%= f.text_area :comment %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>