<h3>Создание цепочки диспозиций для объекта <strong><%= @astro_object.name %></strong></h3>
<%= form_for [@astro_object, @chain] do |f| %>

	<p>
		<%= f.label :kind, 'Тип цепочки:' %>
		<%= f.select :kind, ['по управлению', 
							 'по экзальтации',
							 'по падению',
							 'по изгнанию'] %>
	</p>

	<p>
		<%= f.label :septener, 'По септенеру' %>
		<%= f.check_box :septener %>
	</p>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Ретроградность</th>
				<th>Вес</th>
				<th>Центр</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% Chain::PLANETS.each do |planet|%>
				<tr>
					<td><%= planet[:planet_name]%></td>
					<td><input type="checkbox" name=<%= "#{planet[:planet_prefix]}_retro" %>></td>
					<td><input type="number" name=<%= "#{planet[:planet_prefix]}_weigth" %> value="0"></td>
					<td><select name=<%= "#{planet[:planet_prefix]}_center" %>>
							<option value="0">нет</option>
							<option value="1">первый</option>
							<option value="2">второй</option>
							<option value="3">третий</option>
						</select>
					</td>
					<td>---></td>
					<td><select name=<%= "#{planet[:planet_prefix]}_relation" %>>
							<% unless planet[:planet_prefix] == 'sun' %>
								<option value="0">Солнце</option>
							<% end %>
							<% unless planet[:planet_prefix] == 'moo' %>
								<option value="1">Луна</option>
							<% end %>
							<% unless planet[:planet_prefix] == 'mer' %>
								<option value="2">Меркурий</option>
							<% end %>
							<% unless planet[:planet_prefix] == 'ven' %>
								<option value="3">Венера</option>
							<% end %>
							<% unless planet[:planet_prefix] == 'mar' %>
								<option value="4">Марс</option>
							<% end %>
							<% unless planet[:planet_prefix] == 'jup' %>
								<option value="5">Юпитер</option>
							<% end %>
							<% unless planet[:planet_prefix] == 'sat' %>
								<option value="6">Сатурн</option>
							<% end %>
							<% unless planet[:planet_prefix] == 'ura' %>
								<option value="7">Уран</option>
							<% end %>
							<% unless planet[:planet_prefix] == 'nep' %>
								<option value="8">Нептун</option>
							<% end %>
							<% unless planet[:planet_prefix] == 'plu' %>
								<option value="9">Плутон</option>
							<% end %>
						</select>
					</td>			
				</tr>
			<% end %>
		</tbody>
	</table>

	<p>
		<%= f.label :comment, 'Комментарий:' %><br>
		<%= f.text_area :comment %>
	</p>

	<p>
		<%= f.submit 'Просмотреть' %>
		<%= f.submit 'Сохранить' %>
	</p>

<% end %>