<!DOCTYPE html>
<html>
<head>
  <title>AstroChains - составление и хранение цепочек диспозиций</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- фавиконки -->  
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
<!-- навигация -->
<nav>
  <a href='<%= astro_objects_path %>'>Список объектов</a> | 
  <a href='/about'>О программе</a>
</nav>

<%= yield %>

</body>
</html>